h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.grid-container {
  margin: auto;
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  border: 2px solid #444;
}

.grid-element {
  width: 10.9375px;
  height: 10.9375px;
}

.grid-element-painted {
  background-color: black;
}

.grid-range-value {
  text-align: center;
}

.slide-container {
  text-align: center;
}
