h1 {
  text-align: center;
}

.grid-container {
  margin: auto;
  /* width: 16rem;
  height: 16rem; */
  width: 350px;
  height: 350px;
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center;
  justify-content: center; */
}

.grid-element {
  /* width: 1rem;
  height: 1rem; */
  /* width: 21.875px;
  height: 21.875px; */
  width: 10.9375px;
  height: 10.9375px;
  background-color: aqua;
}

.grid-element-painted {
  background-color: coral;
}
