* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #999;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #444;
  font-size: 3.5rem;
}

h4 {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin: auto;
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  border: 2px solid #444;
  background-color: white;
}

.grid-element {
  width: 10.9375px;
  height: 10.9375px;
}

.color-picker-container {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.color-picker-container input[type="color"] {
  position: absolute;
  height: 6em;
  width: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: none;
  margin: 0;
  padding: 0;
}

.buttons {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.buttons button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.buttons button:hover,
.buttons button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.buttons button:hover {
  transform: translateY(-1px);
}

.buttons button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

button,
input[type="color"] {
  cursor: pointer;
}

.grid-range-value {
  text-align: center;
}

.slide-container {
  text-align: center;
}

input[type="range"] {
  accent-color: #444;
  cursor: pointer;
}

/* .footer {
  margin-top: auto;
  height: 70px;
  width: 100%;
  background-color: #bbbb;
  z-index: 1;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
}

.copyright-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.github-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all 200ms;
}

.github-icon:hover {
  transform: scale(1.15);
} */
